# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Environment variables
.env

# Flutter/Dart specific
.packages
# pubspec.lock should typically be committed for applications
# but if you have a reason to ignore it, add it here.
# pubspec.lock 

# Build directory
/build/

# Android specific
/android/.gradle/
/android/build/
/android/app/build/
*.keystore
local.properties

# iOS specific
/ios/Pods/
/ios/DerivedData/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcworkspace/xcuserdata/
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
/ios/Runner.xcodeproj/xcuserdata/

# macOS specific
/macos/build/
/macos/Flutter/ephemeral/
/macos/.symlinks/

# Linux specific
/linux/build/
/linux/flutter/ephemeral
/linux/.symlinks/

# Windows specific
/windows/build/
/windows/flutter/ephemeral
/windows/.symlinks/

# IDE specific
.metadata # Flutter specific metadata
.idx/ # Project IDX specific files


android/app/google-services.json